---
import Header from "../components/header.astro";
import Scripts from "../components/scripts.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<!-- Martex - Software, App, SaaS & Startup Landing Pages Pack design by DSAThemes (http://www.dsathemes.com) --><!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]--><!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]--><!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
  <Header title="404" />

  <body>
    <!-- PRELOADER SPINNER
		============================================= -->
    <div id="loading" class="loading--theme">
      <div id="loading-center"><span class="loader"></span></div>
    </div>

    <!-- PAGE CONTENT
		============================================= -->
    <div id="page" class="page font--jakarta">
      <!-- HEADER
			============================================= -->
      <header id="header" class="tra-menu navbar-dark white-scroll">
        <div class="header-wrapper">
          <!-- MOBILE HEADER -->
          <div class="wsmobileheader clearfix">
            <span class="smllogo"
              ><img src="/images/logo-blue.png" alt="mobile-logo" /></span
            >
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
          </div>

          <!-- NAVIGATION MENU -->
          <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">
              <!-- HEADER BLACK LOGO -->
              <div class="desktoplogo">
                <a href="/" class="logo-black"
                  ><img src="/images/logo-blue.png" alt="logo" /></a
                >
              </div>

              <!-- HEADER WHITE LOGO -->
              <div class="desktoplogo">
                <a href="/" class="logo-white"
                  ><img src="/images/logo-blue-white.png" alt="logo" /></a
                >
              </div>

              <!-- MAIN MENU -->
              <nav class="wsmenu clearfix">
                <ul class="wsmenu-list nav-theme">
                  <!-- DROPDOWN SUB MENU -->
                  <li aria-haspopup="true">
                    <a href="#" class="h-link"
                      >Company <span class="wsarrow"></span></a
                    >
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="about">About Us</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="careers"
                          >Careers <span class="sm-info">4</span></a
                        >
                      </li>
                      <li aria-haspopup="true">
                        <a href="reviews">Customers</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="blog-listing">Our Blog</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="contacts">Contact Us</a>
                      </li>
                    </ul>
                  </li>

                  <!-- SIMPLE NAVIGATION LINK -->
                  <li class="nl-simple" aria-haspopup="true">
                    <a href="projects" class="h-link">Case Studies</a>
                  </li>

                  <!-- SIMPLE NAVIGATION LINK -->
                  <li class="nl-simple" aria-haspopup="true">
                    <a href="pricing-1" class="h-link">Pricing</a>
                  </li>

                  <!-- SIMPLE NAVIGATION LINK -->
                  <li class="nl-simple" aria-haspopup="true">
                    <a href="faqs" class="h-link">FAQs</a>
                  </li>

                  <!-- SIGN IN LINK -->
                  <li
                    class="nl-simple reg-fst-link mobile-last-link"
                    aria-haspopup="true"
                  >
                    <a href="login-2" class="h-link">Sign In</a>
                  </li>

                  <!-- SIGN UP BUTTON -->
                  <li class="nl-simple" aria-haspopup="true">
                    <a
                      href="signup-2"
                      class="btn r-04 btn--theme hover--theme last-link"
                      >Get Started</a
                    >
                  </li>
                </ul>
              </nav>
              <!-- END MAIN MENU -->
            </div>
          </div>
          <!-- END NAVIGATION MENU -->
        </div>
        <!-- End header-wrapper -->
      </header>
      <!-- END HEADER -->

      <!-- PAGE 404
			============================================= -->
      <section id="page-404" class="bg--white-300 division">
        <div class="container">
          <div class="row justify-content-center">
            <!-- 404 PAGE TEXT -->
            <div class="col-md-9 col-lg-8">
              <div class="page-404-txt text-center">
                <!-- Image -->
                <div class="rel page-404-img">
                  <img
                    class="img-fluid"
                    src="/images/error-404.png"
                    alt="error-404-img"
                  />
                </div>

                <!-- Text -->
                <h2 class="s-56 w-700 color--dark">Page Not Found</h2>
                <h6 class="s-22 color--grey">
                  Oops! The page you are looking for might have been moved,
                  renamed or might never existed
                </h6>

                <!-- Button -->
                <a href="/" class="btn btn--theme hover--theme">Back to home</a>
              </div>
            </div>
            <!-- END 404 PAGE TEXT -->
          </div>
          <!-- End row -->
        </div>
        <!-- End container -->
      </section>
      <!-- END PAGE 404 -->

      <!-- DIVIDER LINE -->
      <hr class="divider divider-light" />

      <Footer />
    </div>
    <!-- END PAGE CONTENT -->

    <!-- EXTERNAL SCRIPTS
			============================================= -->
    <Scripts />
  </body>
</html>
